<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
    body{
        color:blueviolet
    }
    p{
        color:blue
    }
</style>

<body>


    <div class="">
        <p>
            The Rich Dance Project, also known as RDP, was founded in 2014.
            RDP is a youth dance company based in NYC with Ashley Rich as the director. The main company consists of young dancers ranging from ages 13-19. Rich Dance Project's main purpose is to enrich the lives of others through dance. The company is constantly performing all over NYC both live and through powerful YouTube videos.
        </p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqgQGcYHezsaoSHGGlDQjFko3mc9ds3Icl6fEh65rl9W0ThfCl_BVDE7BLOv7uFX4IH0U&usqp=CAU" alt="Hrithik" />
    </div>

</body>
</html>