@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to University of New York University</h1>
    <img src="https://www.universityofcalifornia.edu/sites/default/files/styles/article_default_banner/public/ucla-royce-hall-lg.jpg?h=75334513&itok=7xeKli04" />

</div>
    
